<div class="top-card-container">
    <div class="card">
        <div class="card-header ">
            <div class="card-title">Staking APY</div>
        </div>

        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item-label">Blockchain</div>
                <div class="card-content-item-label go-right">Staking APY</div>
            </div>
            {{#each apyArray}}
            <div class="card-content-row">
                <div class="card-content-item"> {{blockchain}}</div>
                <div class="card-content-item go-right"> {{stakingApy}} %</div>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="card">
        <div class="card-header ">
            <div class="card-title">Native Fee Pool Rewards </div>
        </div>

        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item-label">Blockchain</div>
                <div class="card-content-item-label go-right">Fee Pool Rewards</div>
            </div>
            {{#each feePoolRewardArray}}
            <div class="card-content-row">
                <div class="card-content-item"> {{blockchain}}</div>
                <div class="card-content-item go-right"> {{feeReward}}</div>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="card ">
        <div class="card-header ">
            <div class="card-title">Daily Earnings / GH</div>
        </div>

        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item-label">Blockchain</div>
                <div class="card-content-item-label go-right">Daily Earnings / GH</div>
            </div>
            {{#each dailyEarningsPerGHArray}}
            <div class="card-content-row">
                <div class="card-content-item"> {{blockchain}}</div>
                <div class="card-content-item go-right"> $ {{dailyEarningsPerGH}}</div>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="card">
        <div class="card-header ">
            <div class="card-title">Network Hashrate </div>
        </div>

        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item-label">Blockchain</div>
                <div class="card-content-item-label go-right">Network Hashrate</div>
            </div>
            {{#each networkHashrateArray}}
            <div class="card-content-row">
                <div class="card-content-item"> {{blockchain}}</div>
                <div class="card-content-item go-right"> {{networkHashrate}} GH/s</div>
            </div>
            {{/each}}

        </div>
    </div>
</div>

{{#each pbaasList}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> {{blockchain}}</div>
    </div>


    <div class="card-content">

        <div class="blockchain-card-content-row">

            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Block Reward</div>
                <div class="blockchain-card-content-item ">{{blockReward}} </div>
                <div class="blockchain-card-content-item small-label">$ {{blockRewardUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Fee Pool Reward</div>
                <div class="blockchain-card-content-item ">{{feeReward}} </div>
                <div class="blockchain-card-content-item small-label">$ {{feeRewardUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Avg. Block Fees</div>
                <div class="blockchain-card-content-item ">{{averageblockfees}} </div>
                <div class="blockchain-card-content-item small-label">$ {{averageblockfeesUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Staking APY</div>
                <div class="blockchain-card-content-item "> {{stakingApy}}% </div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Staking Pct.</div>
                <div class="blockchain-card-content-item ">{{stakingPct}}% </div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Market Cap</div>
                <div class="blockchain-card-content-item "> $ {{marketCap}} </div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Blockheight</div>
                <div class="blockchain-card-content-item "> {{blockheight}} </div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">Network Hashrate</div>
                <div class="blockchain-card-content-item "> {{networkHashrate}} GH/s</div>
            </div>

        </div>

    </div>



    <div style="padding: 16px 0 8px 0; font-size: 14px; font-weight:bold;">Staking</div>
    <div class="card-content">
        <div class="blockchain-card-content-row">

            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">100 {{blockchain}} Daily</div>
                <div class="blockchain-card-content-item ">{{stakingRewardsDaily}} </div>
                <div class="blockchain-card-content-item small-label">$ {{stakingRewardsDailyUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">100 {{blockchain}} Monthly</div>
                <div class="blockchain-card-content-item ">{{stakingRewardsMonthly}}</div>
                <div class="blockchain-card-content-item small-label">$ {{stakingRewardsMonthlyUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">100 {{blockchain}} Yearly</div>
                <div class="blockchain-card-content-item ">{{stakingRewardsYearly}}</div>
                <div class="blockchain-card-content-item small-label">$ {{stakingRewardsYearlyUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">One Daily Reward</div>
                <div class="blockchain-card-content-item ">{{stakingRewardsOneDailyStakeAmount}} {{blockchain}}</div>
                <div class="blockchain-card-content-item small-label">$ {{stakingRewardsOneDailyStakeAmountUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">One Monthly Reward</div>
                <div class="blockchain-card-content-item ">{{stakingRewardsOneMonthlyStakeAmount}} {{blockchain}}</div>
                <div class="blockchain-card-content-item small-label">$ {{stakingRewardsOneMonthlyStakeAmountUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">One Yearly Reward</div>
                <div class="blockchain-card-content-item ">{{stakingRewardsOneYearlyStakeAmount}} {{blockchain}}</div>
                <div class="blockchain-card-content-item small-label">$ {{stakingRewardsOneYearlyStakeAmountUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label"> {{#if stakingNote}}Requriements
                    {{else}}

                    {{/if}}</div>
                <div class="blockchain-card-content-item small-label">{{stakingNote}}</div>
            </div>

        </div>


    </div>
    <div style="padding: 16px 0 8px 0; font-size: 14px; font-weight:bold;">Mining </div>
    <div class="card-content">
        <div class="blockchain-card-content-row">

            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">1 MH/S Daily</div>
                <div class="blockchain-card-content-item ">{{miningRewardsDaily}} </div>
                <div class="blockchain-card-content-item small-label">$ {{miningRewardsDailyUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">1 MH/S Monthly</div>
                <div class="blockchain-card-content-item ">{{miningRewardsMonthly}} </div>
                <div class="blockchain-card-content-item small-label">$ {{miningRewardsMonthlyUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">1 MH/S Yearly</div>
                <div class="blockchain-card-content-item ">{{miningRewardsYearly}} </div>
                <div class="blockchain-card-content-item small-label">$ {{miningRewardsYearlyUSD}}</div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">One Daily Reward</div>
                <div class="blockchain-card-content-item ">{{miningRewardsOneDailyMiningHashReward}} MH/S </div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">One Monthly Reward</div>
                <div class="blockchain-card-content-item ">{{miningRewardsOneMonthlyMiningHashReward}} MH/S </div>
            </div>
            <div class="blockchain-card-content-item">
                <div class="blockchain-card-content-item-label">One Yearly Reward</div>
                <div class="blockchain-card-content-item ">{{miningRewardsOneYearlyMiningHashReward}} MH/S </div>
            </div>

          
        </div>
      
    </div>


</div>
{{/each}}