<div class="card" id="{{blockchain}}-block-and-fee-pool-rewards-card">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Block and Fee Pool Rewards</div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Block Height</div>
            <div class="card-row-item"> {{{blockheight}}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Last Block Send</div>
            <div class="card-row-item"> {{{blockLastSend}}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Block Reward</div>
            <div class="card-row-item"> {{{blockReward}}} VRSC</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Fee Pool Reward</div>
            <div class="card-row-item"> {{{feeReward}}} VRSC</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Average Block Fees</div>
            <div class="card-row-item"> {{{averageblockfees}}} VRSC</div>
        </div>
    </div>
</div>