<div class="card" id="chips-mining-rewards-card">
    CHIPS
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Mining Rewards</div>
        {{#if chipsOnline}}

        <div class="card-sub-title">MH/s</div>
        <div class="card-sub-title-value"><input id="chips-mining-hash" class="card-input" value="{{{chipsMiningHash}}}">
        </div>

        {{#each chipsMiningRewardsArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{label}}}</div>
            <div class="card-row-item-network">{{{rewards}}} CHIPS</div>
            <div class="card-row-item"> $ {{{dollars}}} </div>
        </div>

        {{/each}}

        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">Network Hashrate</div>
            <div class="card-row-item"> {{{chipsNetworkHash}}} GH/s </div>
        </div>

        {{else}}
        {{{chipsStatusMessage}}}
        {{/if}}

    </div>
</div>