{{#each currencyGroupList}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> {{currencyName}}</div>
    </div>


    <div class="currency-card-content">

        <div class="currency-card-content-item">
            <div> Basket</div>
            <div>Blockchain</div>
            <div> Price </div>
        </div>
        {{#each this.currencyList}}
        <div class="currency-card-content-item">
            <div> {{this.basketName}}</div>
            <div>{{this.currencyNetwork}}</div>
            <div> $ {{this.currencyPriceUSD}} </div>
        </div>


        {{/each}}

        {{!-- {{#if vrscOnline}}
        {{#each btcPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        <br>

        <div class="card-row-wrapper">
            <div class="card-row-item">Bitcoin in baskets</div>
            <div class="card-row-item">
                {{{btcReserve}}}
            </div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">Bitcoin value in baskets</div>
            <div class="card-row-item">
                $ {{{btcReserveValue}}}
            </div>
        </div>
        {{else}}
        {{{vrscStatusMessage}}}
        {{/if}} --}}
    </div>

    <div class="currency-card-footer">
        <div> {{currencyName}} in baskets {{currencySupply}}</div>
        <div> {{currencyName}} value in baskets ${{currencySupply}}</div>
    </div>

</div>
{{/each}}