<div class="top-card-container">

    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Currency</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label"> {{currencyName}}</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Price</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{currencyPriceUSD}}</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Supply in Baskets</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label"> {{currencySupply}}</div>
            </div>
        </div>
    </div>
    {{#ifEquals currencyType "Basket"}}
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Price In {{blockchain}}</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label"> {{currencyPriceInNative}}</div>
            </div>
        </div>
    </div>
    {{/ifEquals}}
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Basket Reserve Value</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{currencyReserveValue}}</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">24 Hours Volume</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{totalVolume24Hours}}</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue ">7 Days Volume</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{totalVolume7Days}}</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">30 Days Volume</div>
        </div>
        <div class="card-content">
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{totalVolume30Days}}</div>
            </div>
        </div>
    </div>



</div>


{{#each currencyGroupList}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> Basket Prices </div>
    </div>

    <div class="currency-card-content">

        <div class="content-left-column">
            <div class="currency-card-content-row">
                <div class="currency-card-content-left-column-item-label"> Basket</div>
            </div>
            {{#each this.currencyList}}
            <div class="currency-card-content-row">
                <div class="currency-card-content-left-column-item"><a
                        href="/currency/{{this.basketName}}">{{this.basketName}}</a>
                </div>
            </div>
            {{/each}}

        </div>
        <div class="content-right-column">
            <div class="currency-card-content-row">
                <div class="currency-card-content-item-label go-center">Blockchain</div>
                <div class="currency-card-content-item-label go-right"> Price </div>
                <div class="currency-card-content-item-label go-right">Reserve</div>
                <div class="currency-card-content-item-label go-right">Value</div>
                <div class="currency-card-content-item-label go-right">Basket Volume 24H</div>
                <div class="currency-card-content-item-label go-right">Basket Volume 7D</div>
                <div class="currency-card-content-item-label go-right">Basket Volume 30D</div>
            </div>
            {{#each this.currencyList}}
            <div class="currency-card-content-row">
                <div class="currency-card-content-item go-center currency-card-content-item-label">
                    {{this.currencyNetwork}}
                </div>
                <div class="currency-card-content-item go-right"> $ {{this.currencyPriceUSD}} </div>
                <div class="currency-card-content-item go-right">{{this.currencySupply}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.currencySupplyPriceUSD}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.basketVolume24Hours}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.basketVolume7Days}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.basketVolume30Days}}</div>
            </div>


            {{/each}}
            <div class="currency-card-content-row">
                <div class="currency-card-content-item"> </div>
                <div class="currency-card-content-item go-right"> </div>
                <div class="currency-card-content-item go-right">{{currencySupply}}</div>
                <div class="currency-card-content-item go-right"> $ {{currencySupplyPriceUSD}}</div>
                <div class="currency-card-content-item go-right"> $ {{totalVolume24Hours}}</div>
                <div class="currency-card-content-item go-right"> $ {{totalVolume7Days}}</div>
                <div class="currency-card-content-item go-right"> $ {{totalVolume30Days}}</div>
            </div>
        </div>
    </div>
    {{/each}}

</div>



{{#ifEquals currencyType "Basket"}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> Basket Reserve</div>
    </div>


    {{#each basketReserveCurrencyArray}}
    <div style="padding: 16px 0 8px 0; font-size: 14px; font-weight:bold;"><a
            href="/currency/{{currencyName}}">{{currencyName}}</a> ({{weight}}%)</div>

    <div class="card-content">
        
        <div class="blockchain-card-content-row">

             <div class="blockchain-card-content-item">
                <div class="currency-card-content-item-label">Reserve</div>
                <div class="currency-card-content-item ">{{reserves}} </div>
            </div>
             <div class="blockchain-card-content-item">
                <div class="currency-card-content-item-label">Value</div>
                <div class="currency-card-content-item ">$ {{reservePriceUSD}} </div>
            </div>
             <div class="blockchain-card-content-item">
                <div class="currency-card-content-item-label">Basket Price</div>
                <div class="currency-card-content-item ">$ {{priceUSD}} </div>
            </div>
             <div class="blockchain-card-content-item">
                <div class="currency-card-content-item-label">Coingecko Price</div>
                <div class="currency-card-content-item "> {{#if coingeckoprice}}
                $ {{coingeckoprice}}
                {{else}}
                -
                {{/if}} </div>
            </div>
               <div class="blockchain-card-content-item">
                <div class="currency-card-content-item-label">Price in {{network}}</div>
                <div class="currency-card-content-item ">{{priceNativeCurrency}} </div>
            </div>

            {{!-- <div class="currency-card-content-item-label">Reserve</div>
            <div class="currency-card-content-item-label go-center">Value</div>
            <div class="currency-card-content-item-label go-center">Basket Price</div>
            <div class="currency-card-content-item-label go-center">Coingecko Price</div>
            <div class="currency-card-content-item-label go-center">Price in {{network}}</div> --}}
        </div>
        {{!-- <div class="currency-card-content-row">
            <div class="currency-card-content-item">{{reserves}}</div>
            <div class="currency-card-content-item go-center">$ {{reservePriceUSD}}</div>
            <div class="currency-card-content-item go-center">$ {{priceUSD}}</div>
            <div class="currency-card-content-item go-center">
                {{#if coingeckoprice}}
                $ {{coingeckoprice}}
                {{else}}
                -
                {{/if}}
            </div>
            <div class="currency-card-content-item go-center">{{priceNativeCurrency}}</div>
        </div> --}}

    </div>
    {{/each}}


</div>
{{/ifEquals}}