{{#each this.basketReservesList}}

<div class="card" id="{{this.name}}-volume-basket-card">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">{{this.name}} Basket </div>
        <div class="chart-container">
            <canvas id="{{this.currencyId}}-24h-chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="{{this.currencyId}}-7d-chart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="{{this.currencyId}}-30d-chart"></canvas>
        </div>
        <script>
            
            /* 24 hours volume */
            {{#each this.currencyVolume24Hours}}
               initChartData({{this.blocktime}}, {{this.volume}});
            {{/each}}

            // build chart
            buildChart(document.getElementById("{{this.currencyId}}-24h-chart").getContext('2d'));


            /* 7 days volume */
            {{#each this.currencyVolume7Days}}
               initChartData({{this.blocktime}}, {{this.volume}});
            {{/each}}

            // build chart
            buildChart(document.getElementById("{{this.currencyId}}-7d-chart").getContext('2d'));


            /* 30days volume */
            {{#each this.currencyVolume30Days}}
               initChartData({{this.blocktime}}, {{this.volume}});
            {{/each}}

            // build chart
            buildChart(document.getElementById("{{this.currencyId}}-30d-chart").getContext('2d'));

        </script>


        <div class="card-row-wrapper">
            <div class="card-row-item">Reserves Value</div>
            <div class="card-row-item-network">via {{ blockchain}}</div>
            <div class="card-row-item"> $ {{toFixed basketReserveValueNativeCurrencyUSD 0}}</div>
        </div>
        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">{{ this.name}} price</div>
            <div class="card-row-item-network">{{ blockchain}} {{toFixed this.currencyPriceNative 2}}</div>
            <div class="card-row-item"> $ {{toFixed this.currencyPriceUSD 2}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">{{ this.name}} supply</div>
            <div class="card-row-item"> {{toFixed this.currencySupply 0}}</div>
        </div>
        {{#each this.basketCurrencyArray}}

        <div style="text-transform:none;" class="card-sub-title">{{this.currencyName}} ({{this.weight}}%)</div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Reserve</div>
            <div class="card-row-item"> {{toFixed this.reserves 0}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Basket Price</div>
            <div class="card-row-item"> $ {{toFixed this.priceUSD 2}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Coingecko Price</div>
            <div class="card-row-item"> $ {{toFixed this.coingeckoprice 2}}</div>
        </div>
        {{/each}}

    </div>
</div>
{{/each}}