<div class="top-card-container">

    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Bitcoin in Baskets</div>
        </div>

        <div class="card-content">
            {{#each basketsInfo}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label"> {{bitcoinInReserve}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Ethereum in Baskets</div>
        </div>

        <div class="card-content">
            {{#each basketsInfo}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label"> {{ethereumInReserve}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">VRSC in Baskets</div>
        </div>

        <div class="card-content">
            {{#each basketsInfo}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label"> {{vrscInReserve}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Stable Coins in Baskets</div>
        </div>

        <div class="card-content">
            {{#each basketsInfo}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{stableCoinsInReserveUSD}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">Baskets Reserve</div>
        </div>

        <div class="card-content">
            {{#each basketsInfo}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{currencySupplyPriceUSD}}</div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">24 Hours Volume</div>
        </div>

        <div class="card-content">
            {{#each totalBasketsVolume}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{totalVolume24HoursUSD}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue ">7 Days Volume</div>
        </div>

        <div class="card-content">
            {{#each totalBasketsVolume}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{totalVolume7DaysUSD}}</div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card">
        <div class="card-header go-center-flex">
            <div class="card-title color-blue">30 Days Volume</div>
        </div>

        <div class="card-content">
            {{#each totalBasketsVolume}}
            <div class="card-content-row">
                <div class="card-content-item go-center-margin big-label">$ {{totalVolume30DaysUSD}}</div>
            </div>
            {{/each}}
        </div>
    </div>



</div>


{{#each currencyGroupList}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> <a href="/currency/{{currencyName}}">{{currencyName}}</a> </div>
    </div>




    <div class="currency-card-content">

        <div class="content-left-column">
            <div class="currency-card-content-row">
                <div class="currency-card-content-left-column-item-label"> Basket</div>
            </div>
            {{#each this.currencyList}}
            <div class="currency-card-content-row">
                <div class="currency-card-content-left-column-item"><a
                        href="/currency/{{this.basketName}}">{{this.basketName}}</a>
                </div>
            </div>
            {{/each}}

        </div>
        <div class="content-right-column">
            <div class="currency-card-content-row">
                <div class="currency-card-content-item-label go-center">Blockchain</div>
                <div class="currency-card-content-item-label go-right"> Price </div>
                <div class="currency-card-content-item-label go-right">Reserve</div>
                <div class="currency-card-content-item-label go-right">Value</div>
                <div class="currency-card-content-item-label go-right">Basket Volume 24H</div>
                <div class="currency-card-content-item-label go-right">Basket Volume 7D</div>
                <div class="currency-card-content-item-label go-right">Basket Volume 30D</div>
            </div>
            {{#each this.currencyList}}
            <div class="currency-card-content-row">
                <div class="currency-card-content-item go-center currency-card-content-item-label">
                    {{this.currencyNetwork}}
                </div>
                <div class="currency-card-content-item go-right"> $ {{this.currencyPriceUSD}} </div>
                <div class="currency-card-content-item go-right">{{this.currencySupply}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.currencySupplyPriceUSD}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.basketVolume24Hours}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.basketVolume7Days}}</div>
                <div class="currency-card-content-item go-right"> $ {{this.basketVolume30Days}}</div>
            </div>


            {{/each}}
            <div class="currency-card-content-row">
            <div class="currency-card-content-item"> </div>
            <div class="currency-card-content-item go-right"> </div>
            <div class="currency-card-content-item go-right">{{currencySupply}}</div>
            <div class="currency-card-content-item go-right"> $ {{currencySupplyPriceUSD}}</div>
            <div class="currency-card-content-item go-right"> $ {{totalVolume24Hours}}</div>
            <div class="currency-card-content-item go-right"> $ {{totalVolume7Days}}</div>
            <div class="currency-card-content-item go-right"> $ {{totalVolume30Days}}</div>

        </div>

    </div>
    {{!--
    <div class="currency-card-content-row">
        <div class="currency-card-content-item-label"> Basket</div>
        <div class="currency-card-content-item-label go-center">Blockchain</div>
        <div class="currency-card-content-item-label go-right"> Price </div>
        <div class="currency-card-content-item-label go-right">Reserve</div>
        <div class="currency-card-content-item-label go-right">Value</div>
        <div class="currency-card-content-item-label go-right">Basket Volume 24H</div>
        <div class="currency-card-content-item-label go-right">Basket Volume 7D</div>
        <div class="currency-card-content-item-label go-right">Basket Volume 30D</div>
    </div>
    {{#each this.currencyList}}
    <div class="currency-card-content-row">
        <div class="currency-card-content-item"><a href="/currency/{{this.basketName}}">{{this.basketName}}</a>
        </div>
        <div class="currency-card-content-item go-center currency-card-content-item-label">{{this.currencyNetwork}}
        </div>
        <div class="currency-card-content-item go-right"> $ {{this.currencyPriceUSD}} </div>
        <div class="currency-card-content-item go-right">{{this.currencySupply}}</div>
        <div class="currency-card-content-item go-right"> $ {{this.currencySupplyPriceUSD}}</div>
        <div class="currency-card-content-item go-right"> $ {{this.basketVolume24Hours}}</div>
        <div class="currency-card-content-item go-right"> $ {{this.basketVolume7Days}}</div>
        <div class="currency-card-content-item go-right"> $ {{this.basketVolume30Days}}</div>
    </div>


    {{/each}}

    <div class="currency-card-content-row">
        <div class="currency-card-content-item"> </div>
        <div class="currency-card-content-item"> </div>
        <div class="currency-card-content-item go-right"> </div>
        <div class="currency-card-content-item go-right">{{currencySupply}}</div>
        <div class="currency-card-content-item go-right"> $ {{currencySupplyPriceUSD}}</div>
        <div class="currency-card-content-item go-right"> $ {{totalVolume24Hours}}</div>
        <div class="currency-card-content-item go-right"> $ {{totalVolume7Days}}</div>
        <div class="currency-card-content-item go-right"> $ {{totalVolume30Days}}</div>

    </div> --}}

</div>

</div>
{{/each}}