<div class="card" id="{{blockchain}}-get-address-balance-card">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Address Balance</div>
       
        <div class="card-sub-title">{{blockchain}} address</div>
        <div class="card-sub-title-value"><input id="{{blockchain}}-get-address-balance" class="card-input" value="{{{getAddress}}}">
        </div>

        {{#each getAddressBalanceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{currencyName}}}</div>
            <div class="card-row-item">
                {{{amount}}}
            </div>
        </div>

        {{/each}}


    </div>
</div>