<div class="header">

    <span class="header-bold">Crypto</span>dashboard
    <span class="header-version">v1.0.0</span>
    <button title="Reset Cryptodashboard" class="reset-button" id="reset-cards"><svg xmlns="http://www.w3.org/2000/svg"
            height="16" width="16" fill="#666" viewBox="0 0 512 512">
            <path
                d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z" />
        </svg>
    </button>


    <div id="cache-updated" {{#if outofsync }} class="cache-out-of-sync" {{else}} {{/if}} {{#if vrscstatus.outofsync }}
        class="cache-out-of-sync" {{else}} {{/if}}>
        Updated {{{timeAgo}}}
       

        {{#if outofsync}}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="alert-icon">
            <path
                d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
        </svg>
        {{else}} {{/if}}

        {{#if vrscstatus.outofsync}}

        <div>
            <br>
            {{{vrscstatus.message}}}
             <div>({{{vrscstatus.currentBlock}}})</div>
        </div>
        {{else}} {{/if}}


    </div>

    <div id="dark-mode" title="darkmode">
        <svg class="light-mode-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
                d="M448 256c0-106-86-192-192-192l0 384c106 0 192-86 192-192zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z" />
        </svg>
    </div>

    <div class="top-menu">
        <a class="top-menu-item" href="/" target="_self">Currency</a>
        <a class="top-menu-item" href="/blockchain" target="_self">Blockchain</a>
        <a class="top-menu-item" href="/earnings" target="_self">Earnings</a>
        <a class="top-menu-item" href="/stats" target="_self">Stats</a>
    </div>
    {{!-- <div class="side-menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
            style="padding-bottom: 0px; padding-left: 0px; padding-right: 3px;">
            <path
                d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
        </svg>
    </div> --}}

</div>