<div class="card" id="{{blockchain}}-mining-rewards-card">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Mining Rewards</div>
    
        <div class="card-sub-title">MH/s</div>
        <div class="card-sub-title-value"><input id="{{blockchain}}-mining-hash" class="card-input" value="{{{miningHash}}}">
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">Daily</div>
            <div class="card-row-item-network">{{{miningRewardsDaily}}} {{blockchain}}</div>
            <div class="card-row-item"> $ {{{miningRewardsDailyUSD}}} </div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Monthly</div>
            <div class="card-row-item-network">{{{miningRewardsMonthly}}} {{blockchain}}</div>
            <div class="card-row-item"> $ {{{miningRewardsMonthlyUSD}}} </div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Yearly</div>
            <div class="card-row-item-network">{{{miningRewardsYearly}}} {{blockchain}}</div>
            <div class="card-row-item"> $ {{{miningRewardsYearlyUSD}}} </div>
        </div>

        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">Network Hashrate</div>
            <div class="card-row-item"> {{{networkHashrate}}} GH/s </div>
        </div>

    </div>
</div>