{{#each pbaasList}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> {{blockchain}}</div>
    </div>


    <div class="currency-card-content">

        <div class="currency-card-content-row">
            <div class="currency-card-content-item-label">Block Reward</div>
            <div class="currency-card-content-item-label go-right">Fee Pool Reward</div>
            <div class="currency-card-content-item-label go-right">Avg. Block Fees</div>
            <div class="currency-card-content-item-label go-right">Staking APY</div>
            <div class="currency-card-content-item-label go-right">Staking Pct.</div>
            <div class="currency-card-content-item-label go-center">Staking Supply </div>
            <div class="currency-card-content-item-label go-center">Blockheight</div>
            <div class="currency-card-content-item-label go-right">Network Hashrate</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item">{{blockReward}} </div>
            <div class="currency-card-content-item go-right">{{feeReward}}</div>
            <div class="currency-card-content-item go-right"> {{averageblockfees}}</div>
            <div class="currency-card-content-item go-right"> {{stakingApy}}%</div>
            <div class="currency-card-content-item go-right"> {{stakingPct}}%</div>
            <div class="currency-card-content-item go-center"> {{stakingSupply}} </div>
            <div class="currency-card-content-item go-center">{{blockheight}}</div>
            <div class="currency-card-content-item go-right">{{networkHashrate}} GH/s</div>
        </div>

    </div>
    <div style="padding: 16px 0 8px 0; font-size: 14px; font-weight:bold;">Staking 100 VRSC</div>
    <div class="currency-card-content">
        <div class="currency-card-content-row">
            <div class="currency-card-content-item-label">Daily</div>
            <div class="currency-card-content-item-label go-center">Monthly</div>
            <div class="currency-card-content-item-label go-center">Yearly</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item">{{stakingRewardsDaily}}</div>
            <div class="currency-card-content-item go-center">{{stakingRewardsMonthly}}</div>
            <div class="currency-card-content-item go-center">{{stakingRewardsYearly}}</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item small-label">$ {{stakingRewardsDailyUSD}}</div>
            <div class="currency-card-content-item go-center small-label">$ {{stakingRewardsMonthlyUSD}}</div>
            <div class="currency-card-content-item go-center small-label">$ {{stakingRewardsYearlyUSD}}</div>
        </div>
    </div>
    <div style="padding: 16px 0 8px 0; font-size: 14px; font-weight:bold;">Mining with 1 MH/S </div>
     <div class="currency-card-content">
        <div class="currency-card-content-row">
            <div class="currency-card-content-item-label">Daily</div>
            <div class="currency-card-content-item-label go-center">Monthly</div>
            <div class="currency-card-content-item-label go-center">Yearly</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item">{{miningRewardsDaily}}</div>
            <div class="currency-card-content-item go-center">{{miningRewardsMonthly}}</div>
            <div class="currency-card-content-item go-center">{{miningRewardsYearly}}</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item small-label">$ {{miningRewardsDailyUSD}}</div>
            <div class="currency-card-content-item go-center small-label">$ {{miningRewardsMonthlyUSD}}</div>
            <div class="currency-card-content-item go-center small-label">$ {{miningRewardsYearlyUSD}}</div>
        </div>
    </div>


</div>
{{/each}}