{{#each pbaasList}}
<div class="currency-card">
    <div class="currency-card-header ">
        {{!-- <img width="16px" src="/img/tbtc.png" /> --}}
        <div class="card-title"> {{blockchain}}</div>
    </div>


    <div class="currency-card-content">

        <div class="currency-card-content-row">
            <div class="currency-card-content-item-label">Market Cap</div>
            <div class="currency-card-content-item-label go-right">Total Market Cap</div>
            <div class="currency-card-content-item-label go-right">Cir. Supply. Pct.</div>
            <div class="currency-card-content-item-label go-right">Cir. Supply</div>
            <div class="currency-card-content-item-label go-right">Max. Supply</div>
            <div class="currency-card-content-item-label go-center">Currencies </div>
            <div class="currency-card-content-item-label go-center">Block Time</div>
            <div class="currency-card-content-item-label go-right">Network Hashrate</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item">$ {{marketCap}} </div>
            <div class="currency-card-content-item go-right">$ {{fullyDilutedMarketCap}}</div>
            <div class="currency-card-content-item go-right"> {{circulatingSupplyPercentage}} %</div>
            <div class="currency-card-content-item go-right"> {{circulatingSupply}}</div>
            <div class="currency-card-content-item go-right"> {{maxSupply}}</div>
            <div class="currency-card-content-item go-center"> {{currenciesCount}} </div>
            <div class="currency-card-content-item go-center">{{blocktime}} SEC</div>
            <div class="currency-card-content-item go-right">{{networkHashrate}} GH/s</div>
        </div>

    </div>
    <div style="padding: 16px 0 8px 0; font-size: 14px; font-weight:bold;">Price List</div>
    <div class="currency-card-content">
        <div class="currency-card-content-row">
            <div class="currency-card-content-item-label">Addr <-> Addr</div>
            <div class="currency-card-content-item-label go-center">Basket <-> Reserve</div>
            <div class="currency-card-content-item-label go-center">Reserve <-> Reserve</div>
            <div class="currency-card-content-item-label go-right">ID 1.ref, not yours</div>
            <div class="currency-card-content-item-label go-right">ID 1.ref, yours</div>
            <div class="currency-card-content-item-label go-right">ID 2.ref, all yours</div>
            <div class="currency-card-content-item-label go-right">ID 3.ref, all yours</div>
            <div class="currency-card-content-item-label go-right">SubID (ID + Currency)</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item">{{priceAddrToAddr}}</div>
            <div class="currency-card-content-item go-center">{{priceBasketToReserve}}%</div>
            <div class="currency-card-content-item go-center">{{priceReserveToReserve}}%</div>
            <div class="currency-card-content-item go-right">{{priceId1RefNotYours}}</div>
            <div class="currency-card-content-item go-right">{{priceId1RefYours}}</div>
            <div class="currency-card-content-item go-right">{{priceId2RefAllYours}}</div>
            <div class="currency-card-content-item go-right"> {{priceId3RefAllYours}}</div>
            <div class="currency-card-content-item go-right"> >{{priceSubId}}</div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item small-label">$ {{priceAddrToAddrUSD}}</div>
            <div class="currency-card-content-item go-center"></div>
            <div class="currency-card-content-item go-center"></div>
            <div class="currency-card-content-item go-right small-label">$ {{priceId1RefNotYoursUSD}}</div>
            <div class="currency-card-content-item go-right small-label">$ {{priceId1RefYoursUSD}}</div>
            <div class="currency-card-content-item go-right small-label">$ {{priceId2RefAllYoursUSD}}</div>
            <div class="currency-card-content-item go-right small-label"> {{priceId3RefAllYoursUSD}}</div>
            <div class="currency-card-content-item go-right small-label"> $ > {{priceSubIdUSD}}</div>
        </div>
    </div>
    <div style="padding: 16px 0 8px 0;"></div>
    <div class="currency-card-content">
        <div class="currency-card-content-row">
            <div class="currency-card-content-item-label">Storage (1k)</div>
            <div class="currency-card-content-item-label go-center">Currency </div>
            <div class="currency-card-content-item-label go-center">
                {{#if pricePbaas}}PBaaS
                {{else}}

                {{/if}}
            </div>
            <div class="currency-card-content-item-label go-right"></div>
            <div class="currency-card-content-item-label go-right"></div>
            <div class="currency-card-content-item-label go-center"></div>
            <div class="currency-card-content-item-label go-center"></div>
            <div class="currency-card-content-item-label go-right"></div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item">{{priceStorage}}</div>
            <div class="currency-card-content-item go-center"> {{priceCurrency}}</div>
            <div class="currency-card-content-item go-center">{{pricePbaas}}</div>
            <div class="currency-card-content-item go-right"></div>
            <div class="currency-card-content-item go-right"></div>
            <div class="currency-card-content-item go-center"> </div>
            <div class="currency-card-content-item go-center"></div>
            <div class="currency-card-content-item go-right"></div>
        </div>
        <div class="currency-card-content-row">
            <div class="currency-card-content-item small-label">$ {{priceStorageUSD}}</div>
            <div class="currency-card-content-item go-center small-label"> $ {{priceCurrencyUSD}}</div>
            <div class="currency-card-content-item  go-center small-label">{{pricePbaasUSD}}</div>
            <div class="currency-card-content-item"></div>
            <div class="currency-card-content-item"></div>
            <div class="currency-card-content-item go-right"></div>
            <div class="currency-card-content-item go-right"></div>
            <div class="currency-card-content-item go-right"> </div>
            <div class="currency-card-content-item go-right"></div>
        </div>
    </div>


</div>
{{/each}}