<div class="card" id="prices-card-eurc">
    <img width="16px" src="/img/eurc.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">EURC</div>
        {{#if vrscOnline}}
        {{#each eurcPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">EURC in baskets</div>
            <div class="card-row-item">
                {{{eurcReserve}}}
            </div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">EURC value in baskets</div>
            <div class="card-row-item">
                $ {{{eurcReserveValue}}}
            </div>
        </div>
        {{else}}
        {{{vrscStatusMessage}}}
        {{/if}}
    </div>
</div>