<div class="card" id="prices-card-verus">
    <img width="16px" src="/img/verus-icon-blue.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">VerusCoin</div>
        {{#if vrscOnline}}
        {{#each vrscPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        <br>

        <div class="card-row-wrapper">
            <div class="card-row-item">VerusCoin in baskets</div>
            <div class="card-row-item">
                {{{vrscReserve}}}
            </div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">VerusCoin value in baskets</div>
            <div class="card-row-item" id="vrsc-in-baskets">
                $ {{{vrscReserveValue}}}
            </div>
        </div>
        {{else}}
        {{{vrscStatusMessage}}}
        {{/if}}
    </div>
</div>