<div class="card" id="prices-card-usdc">
    <img width="16px" src="/img/usdc.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">USDC</div>
        {{#if vrscOnline}}
        {{#each usdcPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        <br>

        <div class="card-row-wrapper">
            <div class="card-row-item">USDC in baskets</div>
            <div class="card-row-item">
                {{{usdcReserve}}}
            </div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">USDC value in baskets</div>
            <div class="card-row-item">
                $ {{{usdcReserveValue}}}
            </div>
        </div>
        {{else}}
        {{{vrscStatusMessage}}}
        {{/if}}
    </div>
</div>