<div class="card" id="prices-card-varrr">
    <img width="16px" src="/img/Pirate_Logo_Coin_Gold.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Pirate Chain</div>
        {{#if varrrOnline}}
        {{#each arrrPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        {{else}}
        {{{varrrStatusMessage}}}
        {{/if}}
    </div>
</div>