<div class="card" id="prices-card-vdex">
    <img width="16px" src="/img/vdex.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">vDEX</div>
        {{#if vrscOnline}}
        {{#each vdexPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        <br>

        <div class="card-row-wrapper">
            <div class="card-row-item">vDEX in baskets</div>
            <div class="card-row-item">
                {{{vdexReserve}}}
            </div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">vDEX value in baskets</div>
            <div class="card-row-item">
                $ {{{vdexReserveValue}}}
            </div>
        </div>
        {{else}}
        {{{vrscStatusMessage}}}
        {{/if}}
    </div>
</div>