<div class="card" id="prices-card-pepecoin">
    <img width="16px" src="/img/pepecoin.webp" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">PepeCoin</div>
        {{#if vrscOnline}}
        {{#each pepecoinPriceArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{origin}}}</div>
            <div class="card-row-item-network">{{{network}}}</div>
            <div class="card-row-item">
                $ {{{price}}}
            </div>
        </div>
        {{/each}}
        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">PepeCoin in baskets</div>
            <div class="card-row-item">
                {{{pepecoinReserve}}}
            </div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">PepeCoin value in baskets</div>
            <div class="card-row-item">
                $ {{{pepecoinReserveValue}}}
            </div>
        </div>
        {{else}}
        {{{vrscStatusMessage}}}
        {{/if}}
    </div>
</div>