<div class="card" id="{{blockchain}}-price-list">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Price List</div>
        {{!-- {{#if vrscOnline}}
        --}}

        <div class="card-row-wrapper">
            <div class="card-row-item">Addr <-> Addr</div>
            <div class="card-row-item-network">{{blockchain}} {{priceAddrToAddr}}</div>
            <div class="card-row-item">$ {{priceAddrToAddrUSD}}</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">Basket <-> Reserve</div>
            <div class="card-row-item">{{priceBasketToReserve}}%</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">Reserve <-> Reserve</div>
            <div class="card-row-item">{{priceReserveToReserve}}%</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">Storage (1k)</div>
            <div class="card-row-item-network">{{blockchain}} {{priceStorage}}</div>
            <div class="card-row-item">$ {{priceStorageUSD}}</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">ID 1.ref, not yours</div>
            <div class="card-row-item-network">{{blockchain}} {{priceId1RefNotYours}}</div>
            <div class="card-row-item">$ {{priceId1RefNotYoursUSD}}</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">ID 1.ref, yours</div>
            <div class="card-row-item-network">{{blockchain}} {{priceId1RefYours}}</div>
            <div class="card-row-item">$ {{priceId1RefYoursUSD}}</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">ID 2.ref, all yours</div>
            <div class="card-row-item-network">{{blockchain}} {{priceId2RefAllYours}}</div>
            <div class="card-row-item">$ {{priceId2RefAllYoursUSD}}</div>
        </div>

        {{#if priceId3RefAllYours}}
        <div class="card-row-wrapper">
            <div class="card-row-item">ID 3.ref, all yours</div>
            <div class="card-row-item-network">{{blockchain}} {{priceId3RefAllYours}}</div>
            <div class="card-row-item">$ {{priceId3RefAllYoursUSD}}</div>
        </div>
        {{else}}
        {{/if}}

        <div class="card-row-wrapper">
            <div class="card-row-item">SubID *</div>
            <div class="card-row-item-network">{{blockchain}} >{{priceSubId}}</div>
            <div class="card-row-item">$ {{priceSubIdUSD}}</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">Currency</div>
            <div class="card-row-item-network">{{blockchain}} {{priceCurrency}}</div>
            <div class="card-row-item">$ {{priceId3RefAllYoursUSD}}</div>
        </div>

        {{#if pricePbaas}}
        <div class="card-row-wrapper">
            <div class="card-row-item">PBaaS</div>
            <div class="card-row-item-network">{{blockchain}} {{pricePbaas}}</div>
            <div class="card-row-item">$ {{pricePbaasUSD}}</div>
        </div>
        {{else}}

        {{/if}}
        <br>
        <div style="font-size: 12px">* Verus subId needs a VerusID and a Currency</div>

        {{!-- <div class="card-row-item-details">Last 100 blocks</div> --}}
        {{!-- {{else}}
        {{{vrscStatusMessage}}}
        {{/if}} --}}
    </div>
</div>