<div class="card" id="{{blockchain}}-staking-rewards-card">
    <img width="16px" src="{{icon}}" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Staking Rewards</div>
      
        <div class="card-sub-title">Staking Amount</div>
        <div class="card-sub-title-value"><input id="vrsc-staking-amount" class="card-input"
                value="{{{stakingAmount}}}"></div>

        {{!-- {{#each stakingRewardsArray}} --}}
        <div class="card-row-wrapper">
            <div class="card-row-item">Daily</div>
            <div class="card-row-item-network">{{{stakingRewardsDaily}}} {{blockchain}}</div>
            <div class="card-row-item"> $ {{{stakingRewardsDailyUSD}}} </div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Monthly</div>
            <div class="card-row-item-network">{{{stakingRewardsMonthly}}} {{blockchain}}</div>
            <div class="card-row-item"> $ {{{stakingRewardsMonthlyUSD}}} </div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Yearly</div>
            <div class="card-row-item-network">{{{stakingRewardsYearly}}} {{blockchain}}</div>
            <div class="card-row-item"> $ {{{stakingRewardsYearlyUSD}}} </div>
        </div>

        {{!-- {{/each}} --}}
        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">Staking APY</div>
            <div class="card-row-item"> {{{stakingApy}}} %</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Staking percentage</div>
            <div class="card-row-item"> {{{stakingPct}}} %</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Staking Supply</div>
            <div class="card-row-item"> {{{stakingSupply}}} </div>
        </div>


    </div>
</div>