<div class="card" id="threefold-node-card">
    <img width="16px" src="/img/tflogo.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">ThreeFold Node Status</div>

        <div class="card-sub-title">Custome alias and node</div>
        <div class="card-sub-title-value"><input id="get-threefold-nodes" class="card-input"
                placeholder="webserver 100 gameserver 1250" value="{{{threefoldNodeString}}}"></div>

        {{#each threeFoldNodeArray}}
        <div class="card-row-wrapper">
            <div class="card-row-item">{{{username}}}</div>
            <div class="card-row-item-network">{{{country}}}</div>
            <div class="card-row-item">
                {{{nodeId}}} {{#ifEquals status "up"}} <div class="node-online"> {{status}}
                </div> {{/ifEquals}} {{#ifEquals status "down"}} <div class="node-offline"> {{status}} </div>
                {{/ifEquals}}</div>
        </div>

        {{/each}}

    </div>
</div>