<div class="card" id="verus-varrr-block-and-fee-pool-rewards-card">
    <img width="16px" src="/img/Pirate_Logo_Coin_Gold.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Block and Fee Pool Rewards</div>
        {{#if varrrOnline}}

        <div class="card-row-wrapper">
            <div class="card-row-item">Block Height</div>
            <div class="card-row-item"> {{{varrrblocks}}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Last Block Send</div>
            <div class="card-row-item"> {{{varrrblockLastSend}}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Block Reward</div>
            <div class="card-row-item"> {{{varrrblockReward}}} vARRR</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Fee Pool Reward</div>
            <div class="card-row-item"> {{{varrrfeeReward}}} vARRR</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Average Block Fees</div>
            <div class="card-row-item"> {{{varrraverageblockfees}}} vARRR</div>
        </div>

        {{else}}
        {{{varrrStatusMessage}}}
        {{/if}}

    </div>

</div>