<div class="card" id="verus-varrr-bridge-veth-volume-basket-card">
    <img width="16px" src="/img/Pirate_Logo_Coin_Gold.png" />
    <button class="hide-button">x</button>
    <div class="card-content">
        <div class="card-title">Bridge.vARRR Basket</div>
        {{#if varrrOnline}}


        <div class="graph-container">
            <div class="graph-group hide">
                <div class="card-sub-title">24 hours Volume</div>
                <div class="card-sub-title-main-value"> {{{varrrBridgeVolumeInDollars24Hours}}} <span
                        class="card-sub-title-value-prefix">VRSC</span> </div>
                <br>
                <div class="graph-y-axis">
                    {{#each varrrBridgeVolumeInDollars24HoursArrayYAxis}}<div class="graph-y-axis-item">
                        {{value}}
                    </div>{{/each}}
                </div>

                <div class="graph-bar-container">
                    {{#each varrrBridgeVolumeInDollars24HoursArray}}<div style="height:{{barPCT}}px;"
                        class="graph-bar graph-bar-large" data-volume="{{volume}}" data-label="">
                    </div>{{/each}}
                    <div class="graph-x-axis"></div>
                </div>
            </div>


            <div class="graph-group hide">
                <div class="card-sub-title">7 days Volume</div>
                <div class="card-sub-title-main-value"> {{{varrrBridgeVolumeInDollars7Days}}} <span
                        class="card-sub-title-value-prefix">VRSC</span></div>
                <br>
                <div class="graph-y-axis">
                    {{#each varrrBridgeVolumeInDollars7DaysArrayYAxis}}<div class="graph-y-axis-item">
                        {{value}}
                    </div>{{/each}}
                </div>

                <div class="graph-bar-container">
                    {{#each varrrBridgeVolumeInDollars7DaysArray}}<div style="height:{{barPCT}}px;"
                        class="graph-bar graph-bar-xlarge" data-volume="{{volume}}" data-label="">
                    </div>{{/each}}
                    <div class="graph-x-axis"></div>
                </div>
            </div>


            <div class="graph-group">
                <div class="card-sub-title">30 days Volume</div>
                <div class="card-sub-title-main-value">{{{varrrBridgeVolumeInDollars30Days}}} <span
                        class="card-sub-title-value-prefix">VRSC</span></div>
                <br>
                <div class="graph-y-axis">
                    {{#each varrrBridgeVolumeInDollars30DaysArrayYAxis}}<div class="graph-y-axis-item">
                        {{value}}
                    </div>{{/each}}
                </div>

                <div class="graph-bar-container">
                    {{#each varrrBridgeVolumeInDollars30DaysArray}}<div style="height:{{barPCT}}px;"
                        class="graph-bar graph-bar-small" data-volume="{{volume}}" data-label="">
                    </div>{{/each}}
                    <div class="graph-x-axis"></div>
                </div>
            </div>

            <div class="graph-button-group">
                <button class="graph-button button-deselected">24H</button><button
                    class="graph-button button-deselected">7D</button><button
                    class="graph-button button-selected">30D</button>
            </div>
        </div>

        <br>
        <div class="card-row-wrapper">
            <div class="card-row-item">Reserves Value</div>
            <div class="card-row-item-network">via BTC</div>
            <div class="card-row-item"> $ {{{estimatedVarrrBridgeReserveValueUSDBTC}}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Reserves Value</div>
            <div class="card-row-item-network">via VRSC</div>
            <div class="card-row-item"> $ {{{estimatedVarrrBridgeReserveValueUSDVRSC}}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Bridge.vARRR</div>
            <div class="card-row-item-network">VRSC {{estimatedVarrrBridgeValueVRSC}}</div>
            <div class="card-row-item"> $ {{{estimatedVarrrBridgeValueUSD}}}</div>
        </div>

        {{#each currencyVarrrBridgeArray}}
        <div style="text-transform:none;" class="card-sub-title">{{currencyName}}</div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Reserve</div>
            <div class="card-row-item"> {{reserves}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">{{pricelabel}} Price</div>
            <div class="card-row-item"> {{priceNative}}</div>
        </div>
        <div class="card-row-wrapper">
            <div class="card-row-item">Basket Price</div>
            <div class="card-row-item"> $ {{price}}</div>
        </div>

        <div class="card-row-wrapper">
            <div class="card-row-item">{{coingeckoLabel}} Price</div>
            <div class="card-row-item"> $ {{coingeckoprice}} </div>
        </div>

        {{/each}}


        {{else}}
        {{{varrrStatusMessage}}}
        {{/if}}
    </div>
</div>